@font-face {
  font-family: "PlayfairDisplayBold";
  src: url("../fonts/PlayfairDisplayBold/PlayfairDisplayBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplayBoldItalic";
  src: url("../fonts/PlayfairDisplayBoldItalic/PlayfairDisplayBoldItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IntroScriptrH2Base";
  src: url("../fonts/IntroScriptrH2Base/IntroScriptrH2Base.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe/CirceRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
